/***********************************************************************************************************
*                                                                                                          *
*       Micaila Schwebe                                                           22 March 2018            *
*       CSC 110-401                                                               Program #2               *
*                                                                                                          *
*        This program is to calculate the total distance in miles and average miles per hour.              *
***********************************************************************************************************/

#include <cstdlib>
#include <iostream>
#include <iomenip>
#include <string>

using namespace std;

const in MINUTES_IN_HOUR=60;
const int FEET_IN_MILE=5280;
const in FEET_PER_STRIDE=2.5;

int main ()
{
  string fName, lName, fullName;
  int firstMin, lastMin, hours, minutes, avgStridesPerMin;
  float fPM, totalMins, totalFeet, mph, miles;
  
  cout<<"Please enter your first and last name seperated by a space:\n";
  cin>>fName>>lName;
  cout<<"Please enter number of minutes in running time:\n";
  cin>>minutes;
  cout<<"Please enter number of hours in running time:\n";
